<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Category Product</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<link rel="stylesheet" href="${static_domain}/plugins/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="${static_domain}/dist/css/adminlte.min.css">
<link rel="stylesheet" href="${static_domain}/dist/css/toastr.min.css">
<script src="${static_domain}/js/angular.js"></script>
<script src="${static_domain}/js/dirPagination.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-sanitize.js"></script>