<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="input-group">
                        <input type="text" name="search" class="form-control" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" name="submit" class="btn btn-primary"><i class="fas fa-search"> Search</i>
                              </button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 text-right">
                    <a class="btn btn-primary" href="addcateproduct">
                        <i class="fas fa-plus"></i> Add Category Product
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">List Category Products</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
            </div>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th style="width: 1%">
                            Id
                        </th>
                        <th style="width: 20%">
                            Name
                        </th>
                        <th style="width: 10%">
                            Parent ID
                        </th>
                        <th style="width: 10%">
                            Orders
                        </th>
                        <th style="width: 10%">
                            Status
                        </th>
                        <th style="width: 15%">
                            Created Date
                        </th>
                        <th style="width: 15%">
                            Updated Date
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Ngân</td>
                        <td>2</td>
                        <td>1</td>
                        <td>Show</td>
                        <td></td>
                        <td></td>
                        <td class="project-actions text-right">
                            <a ng-click="changeEdit(item)" class="btn btn-info btn-sm" href="#" style="margin: 5px 5px">
                                <i class="fas fa-pencil-alt">
                                </i> Edit
                            </a>
                            <a ng-click="delete(item)" class="btn btn-danger btn-sm" href="#" style="margin: 5px 5px">
                                <i class="fas fa-trash">
                                </i> Delete
                            </a>
                        </td>
                    </tr>
                </tbody>
                <!-- <tbody ng-init="item.show=false" dir-paginate="item in users | itemsPerPage: 10" total-items="totalUser" pagination-id="tbl_user">
                    <tr ng-show="!item.show">
                        <td>{{item.id}}</td>
                        <td>{{item.username}}</td>
                        <td>*****************************</td>
                        <td>{{item.level}}</td>
                        <td>{{item.create_date}}</td>
                        <td class="project-actions text-right">
                            <a ng-click="changeEdit(item)" class="btn btn-info btn-sm" href="#" style="margin: 5px 5px">
                                <i class="fas fa-pencil-alt">
                                </i> Edit
                            </a>
                            <a ng-click="delete(item)" class="btn btn-danger btn-sm" href="#" style="margin: 5px 5px">
                                <i class="fas fa-trash">
                                </i> Delete
                            </a>
                        </td>
                    </tr> -->
                <!-- sửa dữ liệu, nó ẩn, khi nào bấm edit mới hiện  -->
                <!-- <tr ng-show="item.show">
                        <td>
                            {{item.id}}
                        </td>
                        <td>
                            <input ng-model="item.username" type="email" class="form-control">
                        </td>
                        <td>
                            <input ng-model="item.password" type="password" class="form-control">
                        </td>
                        <td>
                            <select ng-model="item.level" class="form-control">
                                <option value="Quản lý">Quản lý</option>
                                <option value="Nhân viên">Nhân viên</option>
                            </select>
                        </td>
                        <td>
                            {{item.create_date}}
                        </td>
                        <td class="project-actions text-right">

                            <a ng-click="saveDataEdit(item)" class="btn btn-info btn-sm" href="#" style="margin: 5px 5px">
                                <i class="fas fa-save">
                                </i> Save
                            </a>

                        </td>
                    </tr>

                </tbody> -->
            </table>
            <!-- <div class="clearfix mt-3" style="margin-left: auto; padding-right: 20px;">
                <dir-pagination-controls pagination-id="tbl_user" on-page-change="pageChanged(newPageNumber)" boundary-links="true" style="font-size: 13px"></dir-pagination-controls>
            </div> -->
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
    <!-- /.row -->
</div>
<!-- /.container-fluid -->
<!-- /.content -->