<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">

<head>
    ${header_include}

</head>

<body class="hold-transition sidebar-mini" ng-app="myApp" ng-cloak>
    <div class="wrapper" ng-controller="mainCtrl">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="${app_domain}/admin/logout" role="button">
                       Logout <i class="fas fa-sign-out-alt"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <div ng-include="APP_DOMAIN +'admin/partital/menu.html'"></div>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Edit Product</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Dashbroad</a></li>
                                <li class="breadcrumb-item active">Manage Product </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="card card-primary">
                        <!-- form start -->
                        <form>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Category</label>
                                            <select ng-model="category" ng-init="category='0'" class="form-control">
                                                <option value="0">Choose the Category</option>
                                                <option ng-repeat="item in listCategory" value="{{item.id}}">{{item.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Supplier</label>
                                            <select ng-model="supplier" ng-init="supplier='0'" class="form-control">
                                                <option value="0">Choose the Supplier</option>
                                                <option ng-repeat="item in listSupplier" value="{{item.id}}">{{item.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Name</label>
                                    <input ng-model="name" type="text" class="form-control" placeholder="Name">
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Price</label>
                                            <input ng-model="price" type="text" class="form-control" placeholder="Price">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Price Sale</label>
                                            <input ng-model="price_sale" type="email" class="form-control" placeholder="Price Sale">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Quantity</label>
                                            <input ng-model="quantity" type="text" class="form-control" placeholder="Quantity">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Image Url</label>
                                            <input ng-model="image_url" type="text" class="form-control" placeholder="Image Url">
                                        </div>
                                    </div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-5">
                                        <label>Upload File Image</label>
                                        <br>
                                        <input type="file" file="filex" name="file2" id="preImg" accept="image/png, image/gif, image/jpeg" required />
                                        <br />
                                        <img id="blah" src="#" alt="your image" onerror="this.style.display = 'none'" width="150px" height="150px" />
                                        <br>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Content</label>
                                    <textarea id="summernote" class="form-control" placeholder="Content"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Warranty</label>
                                    <textarea ng-model="warranty" type="text" class="form-control" rows="5" placeholder="Warranty"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Related Products</label>
                                    <select id="loadDataOpt" class="form-control select2 slc-related-product" style="width: 100%;" name="states[]" multiple="multiple">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <div class="form-check">
                                        <input ng-model="hot" ng-init="hot=false" class="form-check-input" type="checkbox">
                                        <label class="form-check-label"><b>Hot</b></label>
                                    </div>
                                    <div class="form-check">
                                        <input ng-model="new" ng-init="new=false" class="form-check-input" type="checkbox">
                                        <label class="form-check-label"><b>New</b></label>
                                    </div>
                                    <div class="form-check">
                                        <input ng-model="promo" ng-init="promo=false" class="form-check-input" type="checkbox">
                                        <label class="form-check-label"><b>Promo</b></label>
                                    </div>
                                </div>
                                <div>
                                    <button type="button" ng-click="saveDataEdit()" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.container-fluid -->
                </div>
                <!-- /.content -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->


    </div>
    <!-- ./wrapper -->

    <!-- REQUIRED SCRIPTS -->

    ${footer_include}

    <script>
        $(document).ready(function() {
            $('#summernote').summernote({
                height: 300
            });
        });
        var app = angular.module('myApp', []); //ngPagination
        app.directive('file', function() {
            return {
                scope: {
                    file: '='
                },
                link: function(scope, el, attrs) {
                    el.bind('change', function(event) {
                        var file = event.target.files[0];
                        scope.file = file ? file : undefined;
                        scope.$apply();
                    });
                }
            };
        });
        app.controller('mainCtrl', function($scope, $http, $rootScope) {
            var url = document.URL.split('/');
            var urltmp = url[4].split('?')[0];
            $rootScope.lastUri = urltmp.split('#')[0];

            $scope.APP_DOMAIN = "http://localhost:8080/";


            preImg.onchange = evt => {
                const [file] = preImg.files
                if (file) {
                    blah.src = URL.createObjectURL(file)
                    blah.style = "block";
                }
            }

            //load Supplier
            $http({
                method: "GET",
                url: $scope.APP_DOMAIN + "admin/api/supplier",
                params: {
                    action: 'getsupplier',
                    page_index: 1,
                    limit: 100
                },
            }).then(function(response) {
                // console.log(response);
                $scope.listSupplier = response.data.data.listSupplier;
            })

            //load cate
            $http({
                method: "GET",
                url: $scope.APP_DOMAIN + "admin/api/cate_product",
                params: {
                    action: 'getcate',
                    page_index: 1,
                    limit: 100
                },
            }).then(function(response) {
                // console.log(response);
                $scope.listCategory = response.data.data.listCategory;
            })

            // get idSupplier
            var id_product = getUrlParameter('id');
            console.log(id_product);



            $http({
                method: "GET",
                url: $scope.APP_DOMAIN + "admin/api/product",
                params: {
                    action: 'getProductById',
                    id_product: id_product
                },
            }).then(function(response) {
                $scope.editProduct = response.data.data
                console.log($scope.editProduct);

                $scope.id = $scope.editProduct.id;
                $scope.category = $scope.editProduct.id_cate + "";
                $scope.supplier = $scope.editProduct.id_supplier + "";
                $scope.name = $scope.editProduct.name;
                $scope.price = $scope.editProduct.price;
                $scope.price_sale = $scope.editProduct.price_sale;
                $scope.image_url = $scope.editProduct.image_url;
                $scope.quantity = $scope.editProduct.quantity;
                $('#summernote').summernote('code', $scope.editProduct.content);
                $scope.warranty = $scope.editProduct.warranty;
                let property = $scope.editProduct.property;
                console.log(property);
                $scope.hot = property.hot;
                $scope.new = property.productNew;
                $scope.promo = property.promo;
                $scope.upload = $scope.editProduct.filex;


                initRelatedProductSlc2($scope.editProduct.listRelatedProduct);

            })

            function initRelatedProductSlc2(listProduct) {
                var selected = [];
                var initials = [];
                for (let i = 0; i < listProduct.length; i++) {
                    let item = listProduct[i];
                    selected.push(item.id);
                    initials.push({
                        id: item.id,
                        text: item.name
                    })

                }
                $('.slc-related-product').select2({
                    data: initials,
                    ajax: {
                        url: 'http://localhost:8080/admin/api/product?action=getproduct',
                        type: "GET",
                        dataType: "json",
                        delay: 250,
                        data: function(params) {
                            return {
                                search_query: params.term,
                                page_index: params.page || 1
                            }
                        },
                        processResults: function(response) {
                            let listResult = response.data.listProduct;
                            // console.log(listResult);
                            let results = [];

                            for (let product of listResult) {
                                results.push({
                                    "id": product.id,
                                    "text": product.name
                                })
                            }

                            let hasMore = true;

                            let objectSelectOpt = {
                                "results": results,
                                "pagination": {
                                    "more": hasMore
                                }
                            };

                            console.log(objectSelectOpt);

                            return objectSelectOpt;
                        },
                        cache: true
                    }
                });
                $('.slc-related-product').val(selected).trigger('change');
            }


            //Save Data da sua
            $scope.saveDataEdit = function() {
                console.log($('.slc-related-product').val());
                var contentEdit = $('#summernote').summernote('code');
                if ($scope.category && $scope.supplier && $scope.name && $scope.price && $scope.price_sale &&
                    $scope.quantity && $scope.image_url && contentEdit && $scope.warranty) {
                    let property = 0;
                    if ($scope.hot) {
                        property = property + 1;
                    }
                    if ($scope.new) {
                        property = property + 2;
                    }
                    if ($scope.promo) {
                        property = property + 4;
                    }
                    $http({
                        method: 'POST',
                        url: $scope.APP_DOMAIN + 'admin/api/product?action=edit',
                        headers: {
                            'content-type': undefined
                        },
                        data: {
                            id: $scope.id,
                            category: $scope.category,
                            supplier: $scope.supplier,
                            name: $scope.name,
                            price: $scope.price,
                            price_sale: $scope.price_sale,
                            image_url: $scope.image_url,
                            quantity: $scope.quantity,
                            content: contentEdit,
                            warranty: $scope.warranty,
                            property: property,
                            upload: $scope.filex,
                            related: JSON.stringify($('.slc-related-product').val())
                        },

                        transformRequest: function(data, headersGetter) {
                            console.log(data);
                            var formData = new FormData();
                            angular.forEach(data, function(value, key) {
                                formData.append(key, value);
                            });

                            return formData;

                        }
                    }).then(function(response) {
                        if (response.data.errorCode >= 0) {
                            // console.log(response);
                            showNotification("success", response.data.message);
                            window.location.replace($scope.APP_DOMAIN + "admin/product");
                        } else {
                            showNotification("error", response.data.message);
                        }
                    }, function(error) {
                        showNotification("error", "Có lỗi! Vui lòng thử lại sau.");

                    })
                } else {
                    showNotification("error", "Dữ liệu không hợp lệ!");
                }

            }



        })
    </script>
</body>

</html>